[defaults]
remote_user = {{ ansible.config.remote_user }}
private_key_file = {{ ansible.config.private_key_file }}
host_key_checking = {{ ansible.config.host_key_checking }}
interpreter_python = {{ ansible.config.interpreter_python }}
inventory = {{ ansible.config.inventory }}
